* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #dad7cd;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  background-color: #001d3d;
  width: 90%;
  height: 90%;
  padding: 0 10rem;
  border-radius: 3rem;
}

#gameWindow {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  border-bottom: 2px solid slategray;
}

header,
footer {
  /* border: 1px solid slategray; */
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.5rem;
}

main,
#winner {
  /* border: 1px solid gray; */
  flex: 5;
  display: flex;
  margin-bottom: 1rem;
}

#playerSelection,
#computerSelection {
  /* border: 1px solid red; */
  flex: 5;
  text-align: center;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#vs {
  flex: 1;
  text-align: center;
  align-content: center;
  font-size: 3rem;
}

#playerSelection p,
#computerSelection p {
  flex: none;
  padding: .5rem 0;
  margin: 0;
}

.imageContainer {
  flex: 1;
  align-content: center;
  max-height: 100%;
  width: 100%;
  border: 1px solid #dad7cd;
  border-radius: 5rem;
}

.imageContainer img {
  max-width: 60%;
}

button {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: #219ebcaa;
  color: #ffd60a;
  border: 1px solid;
  cursor: pointer;
}

button:hover {
  background-color: #219ebc;
}

.playBtn {
  width: 65%;
}

#winner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.hidden,
#winner.hidden {
  display: none;
}